* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: 'Rubik', sans-serif;
}
.logo {
  height: 80px;
  width: 120px;
}

.header {
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #00B4D8;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  height: 100px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar li {
  list-style: none;
  padding: 0 20px;
}

.navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.navbar li a i {
  color: black;
}

body {
  background: white;
  font-family: 'Rubik', sans-serif;
}

.login-form {
  background: #00B4D8;
  width: 800px;
  margin: 100px auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}
.login-form h1 {
  padding: 35px 35px 0 35px;
  font-weight: 300;
}
.login-form .content {
  padding: 35px;
  text-align: center;
}
.login-form .input-field {
  padding: 12px 5px;
}
.login-form .input-field input {
  font-size: 16px;
  display: block;
  font-family: 'Rubik', sans-serif;
  width: 100%;
  padding: 10px 1px;
  border: 0;
  border-bottom: 1px solid #747474;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.login-form p {
  color: white;
  text-align: left;
  font-size: 15px;
}
.content button {
  border: none;
  background-color: #BCEAEB;
  padding: 12px 70px;
  float: right;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px;
}
.login-form a.link2 {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
.login-form a.link {
  text-decoration: none;
  font-size: 15px;
  color: white;
  letter-spacing: 0.2px;
  display: inline-block;
  margin-top: 10px;
}
.login-form a.link:hover {
  color: black;
}
.login-form .action {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}
.login-form .action button {
  width: 100%;
  border: none;
  padding: 18px;
  font-family: 'Rubik', sans-serif;
  font-size: larger;
  cursor: pointer;
  background: #00B4D8;
  color: black;
  border-top-right-radius: 20px;
  letter-spacing: 0.2px;
  outline: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.register-form .action .register {
  background-color: #00B4D8;
  color: white;
}
.login-form .action button:nth-child(1) {
  background: #023E8A;
  color: black;
  border-top-left-radius: 20px;
  border-top-right-radius: 0;
}